@import 'vars';
@import 'fonts';
@import 'reset';
@import 'mixin';
@import 'global';

.about {
  padding-top: 30px;

  &__title {
    margin-bottom: 80px;
  }

  &__text {
    margin-bottom: 36px;
  }

  &__link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 104px auto 0;
    padding: 10px 0 10px 75px;
    @extend %Montserrat-800-italic;
    font-size: 46px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    text-shadow: -5px 1px #333333;
    @include skew-block(-2deg);

    &::before {
      content: "";
      width: 40px;
      height: 5px;
      position: absolute;
      left: 0;
      bottom: 18px;
      background-color: #ffff00;
      box-shadow: 0px 0px 50px rgba(255, 250, 0, 0.9);
      border-radius: 5px;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      width: 40px;
      height: 5px;
      position: absolute;
      left: 0;
      top: 17px;
      background-color: #ffff00;
      box-shadow: 0px 0px 50px rgba(255, 250, 0, 0.9);
      border-radius: 5px;
      transform: rotate(-45deg);
    }
  }

  &__box {
    max-width: 422px;
    margin: 0 auto;
    background-image: url(../images/Sabathius-Warning-Stripe-Black-Yellow.jpg);
    transform: matrix(1, 0, 0.01, 1, 0, 0);
    padding: 7px;
  }

  &__case {
    padding: 16px 10px 18px;
    width: 100%;
    font-size: 22px;
    letter-spacing: 1.5px;
    text-align: center;
    background-color: #fff;

    p {
      max-width: 350px;
      margin: 0 auto;
    }
  }

  &__btn {
    margin: 11px auto 0;
  }
}

.form {
  max-width: 519px;
  width: 100%;
  min-height: 430px;
  margin: 0 auto;
  padding: 38px 33px 28px;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;

  &__text {
    @extend %Montserrat-400;
    font-size: 18px;
    margin-bottom: 5px;
  }

  &__task {
    @extend %Montserrat-700;
    font-size: 25px;
    margin-bottom: 15px;
  }

  &__wrapper {
    max-width: 425px;
    width: 100%;
    margin: 20px auto 0;
  }

  &__label {
    @extend %Montserrat-600;
    font-size: 18px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 20px;
    }
  }

  &__elem {
    border: 0;
    background: #FAFAFA;
    border: 1px solid #FAFAFA;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 272px;
    width: 100%;
    padding: 15px;
    transition: border 0.2s linear;

    &:hover,
    &:focus {
      border: 1px solid #ffe800;
      outline: transparent
    }
  }

  &__input::placeholder {
    color: #c6c6c6
  }

  &__btn {
    margin: 0 auto 20px;

    &--active {
      max-width: 365px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
  }

  &__item {
    text-align: center;

    svg {
      display: block;
      margin: 0 auto 12px;
    }
  }

  &__benefit {
    @extend %Montserrat-400;
    font-size: 18px;
  }

  &__link {
    @extend %Montserrat-400;
    font-size: 18px;
    color: #d10a12;
  }
}

@import 'media';